body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #000000, #430000);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 40px;
  border-radius: 50px;
  width: 300px;
  color: #fff;
  text-align: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.3);
}

.login-box h2 {
  margin-bottom: 20px;
  color: #ff3b3b;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 10px 4px 10px 10px;
  border: 1px solid #ff3b3b;
  border-radius: 8px;
  outline: none;
  background-color: transparent;
  color: #fff;
}

.input-group input::placeholder {
  color: #ff9999;
}

.input-group .icon {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  color: #ff3b3b;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  margin-bottom: 20px;
}

.options a {
  color: #ff3b3b;
  text-decoration: none;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #ff3b3b;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #cc0000;
}

p {
  margin-top: 20px;
  font-size: 0.9em;
  color: #eee;
}

p a {
  color: #ff3b3b;
  text-decoration: none;
}